<div id="forms" class="page-layout simple fullwidth" fxLayout="column" fusePerfectScrollbar>

  <!-- HEADER -->
  <div class="header mat-accent-bg p-24 h-160" fxLayout="row" fxLayoutAlign="start center">
    <div fxLayout="column" fxLayoutAlign="center start">
      <div class="h1 mt-16">Time Off Policy</div>
    </div>
  </div>
  <!-- / HEADER -->
  <div class="content">
    <mat-progress-bar mode="indeterminate" [hidden]="loadingbar"></mat-progress-bar>
  </div>
  <!-- CONTENT -->
  <div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="start start" fxLayout.gt-md="row">

      <!-- REACTIVE FORM EXAMPLE -->

      <form class="mat-white-bg mat-elevation-z4 p-24 mr-24 mb-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
        [formGroup]="form" (ngSubmit)="onSubmit(form.value)" style="width: 100%;">

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="50">
            <input matInput placeholder="Time Off Policy Code" formControlName="timeOffCd" required>
            <mat-error *ngIf="formErrors.timeOffCd.required">
              Time Off Policy Code is required!
            </mat-error>
          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <input matInput placeholder="Time Off Policy Name" formControlName="name" required>
            <mat-error *ngIf="formErrors.name.required">
              Time Off Policy Name is required!
            </mat-error>
          </mat-form-field>

        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <mat-form-field fxFlex="100">
            <mat-select placeholder="Reset By" formControlName="resetBy" (change)="onResetByChange($event.value)" required>
              <mat-option *ngFor="let item of resetByOption" [value]="item.value">
                {{ item.display_name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>        

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" [hidden]="resetByVal">
          <mat-form-field fxFlex="25">
            <mat-select placeholder="Date" formControlName="customDateDay">
              <mat-option *ngFor="let number of [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]" [value]="number">
                {{ number }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="75">
            <mat-select placeholder="Month" formControlName="customDateMonth">
              <mat-option *ngFor="let mth of monthOption" [value]="mth.value">
                {{ mth.text }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

          <mat-form-field fxFlex="100">
            <input matInput type="number" placeholder="Time Off Value" formControlName="timeOffVal" required>
            <mat-error *ngIf="formErrors.timeOffVal.required">
              Time Off Value is required!
            </mat-error>
          </mat-form-field>

        </div>
        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
          <div class="button-row">
            <button mat-raised-button class="mat-accent" type="submit">
              Submit
            </button>
            <a mat-raised-button [routerLink]="['/master/timeoffpolicy/']">
              Back
            </a>
          </div>
        </div>

      </form>
      <!-- / REACTIVE FORM EXAMPLE -->
    </div>
  </div>
  <!-- / CONTENT -->

</div>